<header>
    <h1>Techblog 2000</h1></header>

<main>
    <div class="log-in-display">
        <div class="login-card2">
            <h1 class="page-title text-dark">Login</h1>
            <form class="form login-form">
                <div class="form-group">
                <label for="email-login" class="text-dark">Email:</label>
                <input class="form-input" type="text" id="email-login" autocomplete="off"/>
                </div>
                <div class="form-group">
                <label for="password-login" class="text-dark">Password:</label>
                <input class="form-input" type="password" id="password-login" autocomplete="off"/>
                </div>
                <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">login</button>
                </div>
            </form>
            <p class="pt-2 logIn">Dont have an account? <span><a href="/signup">Create an account</a></span></p>
        </div>
    </div>
</main>

<script src="./js/login.js"></script>
